{% extends "base_ffxiv.html" %}
{% load dict %}
{% block articles %}
    <div class="article">
    <center><h2>Space Goats Archive</h2></center>
    
    {%for i in articles %}
        <ul>
            <li><h2>{{i.title}}</h2></li>
            <li><p>{{i.text}}</p></li> 
        </ul>
    {%endfor%}
    
    </div>
{% endblock %}
