
body {

} 

p{
    color:#000024;
}

h2, a:link, a:visited{
    color:#000024;
}

h2{
    font-size:1.5em;
}

thead th {
    font-weight: bold;
}
ul {
    list-style: none;
}
li {
    margin: 0;
}

#banner {
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
}

#container {
    background-color:#F5F0EB;
}

#nav ul {
    margin-top:30px;
}

#nav li {
    display: inline;
}

#nav a:hover {
    background-color:white;
}

#nav a {
    font-size: 1.5em;
    padding: 15px;
    text-decoration:none;
}

#articles {
    min-height: 800px;
}
#sidebar {
    min-height: 800px;
}
#footer {
   /* background-color: #f3cfcf;*/
}

#events {
    padding-bottom: 50px;
    /*background-color: #bfe7c4;*/
    
}
#raid_progress {
    padding-bottom: 50px;
}
#raid_progress a{
    text-decoration: none;
}
#raid_progress .dead {
    -webkit-filter: contrast(0);
    -moz-filter: contrast(0);
    filter: contrast(0);
}
#raid_progress .dead:hover {
    -webkit-filter: contrast(1);
    -moz-filter: contrast(1);
    filter: contrast(1);
}
#goat_of_the_week {
    height: 250px;
    /*background-color: #f9bfef;*/
}
#roster {
    padding-bottom: 50px;
    /*background-color: #cfe2f3;*/

}
#roster,#goat_of_the_week, #events
{
    padding-left:10px;
    border-width:3px;
}
#nav, #logo, #events, #goat_of_the_week
{
    border-width:3px;
}

.article {
    min-height: 200px;
    border-width:3px;
    /*background-color: #F5F0EB;*/
}

.article_image_link {
    text-decoration: none;
}

.article_title {
    color:white;
    font-size:5em;
    text-shadow: 0 0 15px #000000;
    text-align: center;
}

.pop_up {
    border-style:dotted;
    background-color:#F5F0EB;
    padding:10px;
}

.article_image img {
    max-width: 640px;
}

.note{
    font-size:11px;
}

#upcoming_table_event_name{
    padding-right:10px;
}



/*------ Class Colors ---------*/
#roster a{
    text-decoration:none;
}
#event_signup a{
    text-decoration:none;
}

#roster .name {
    min-width: 125px;
}


#roster .main span {
    font-weight: bold;

}
.gclass {
    display: inline-block;
    width: 115px;
    padding-left: 5px;
}

.toggle span {
    display: inline-block;

    border: 1px solid black;
    /* padding: 2px; */
    margin-left: 5px;
    /* the negative pixels here corrects for the extra width 
     * from the border
     */
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: lightgrey;
    cursor: pointer;
    width: 10px;
    text-align: center;

}

.Death {
    background-color:#C41F3B;
}
.Druid{
    background-color:#FF7D0A;
}
.Hunter{
    background-color:#ABD473;
}
.Mage{
    background-color:#69CCF0;
}
.Monk{
    background-color:#558A84;
}
.Paladin{
    background-color:#F58CBA;
}
.Priest{
    background-color:#FFFFFF;
}
.Rogue{
    background-color:#FFF569;
}
.Shaman{
    background-color:#0070DE;
}
.Warlock{
    background-color:#9482C9;
}
.Warrior{
    background-color:#C79C6E;
}

#slides {
  display: none;
  margin-bottom:50px;
}

.slidesjs-navigation {
  margin-top:3px;
  text-decoration: none;
}

.slidesjs-previous {
  margin-right: 5px;
  float: left;
}

.slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}
