{% load random_tag %}
<!DOCTYPE html>
<html>
<head>
    <title>Space Goats FFXIV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/text.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/960.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}site.css" />

    <!-- <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar.css' /> -->
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}jquery-ui-1.8.22.custom/css/redmond/jquery-ui-1.8.22.custom.css' />

    <script type='text/javascript' src='{{STATIC_URL}}jquery.js'></script>
    <!-- <script type='text/javascript' src='{{STATIC_URL}}fullcalendar.js'></script> -->
    <script type='text/javascript' src='{{STATIC_URL}}jquery-ui-1.8.22.custom/js/jquery-ui-1.8.22.custom.min.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}jquery.slides.min.js'></script>
    <script>
        $(function(){
            $("#slides").slidesjs({
                width: 940,
                height: 528,
                play: {
                active: true,
                    // [boolean] Generate the play and stop buttons.
                    // You cannot use your own buttons. Sorry.
                effect: "slide",
                    // [string] Can be either "slide" or "fade".
                interval: 10000,
                    // [number] Time spent on each slide in milliseconds.
                auto: true,
                    // [boolean] Start playing the slideshow on load.
                swap: true,
                    // [boolean] show/hide stop and play buttons
                pauseOnHover: true,
                    // [boolean] pause a playing slideshow on hover
                restartDelay: 2500
                    // [number] restart delay on inactive slideshow
                }
            });
        });
    </script>
    
</head>

<body>
    <div id="banner" style="background-image:url('{{STATIC_URL}}ffxiv_headers/header{{"1 11"|random_header}}.jpg');width:100%;height:250px;"></div>
    <div id="container" class="container_16">
        <div id="logo" class="grid_4">
            <a href="{% url "home" %}">
                <img src="{{STATIC_URL}}logo.png" style="width:200px;"
                 alt="Space Goats CoastToCoast Logo"/>
            </a>
        </div>
        <div id="nav" class="grid_12">
            <ul>
                <li><a href="{% url "archive" %}">Archive</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "new_article" %}">Submit Article</a></li>
                <li><a href="{% url "new_screenshot" %}">Submit Screenshot</a></li>
                <li><a href='{% url "logout" %}'>Logout</a></li>
                {% else %}
                <li><a href='{% url "login" %}'>Login</a></li>
                {% endif %}
                <li><a href='http://spacegoatsc2c.com/'>WoW</a></li>
                
            </ul>
        </div>
        <div class="clear"></div>

        <div id="ffxiv_articles" class="grid_11">
            {% block articles%}{%endblock%}
            
        </div>
        <div id="ffxiv_sidebar" class="grid_5">
            <div id="players">
                <h2>Players</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in characters %}
                        <tr>
                            <td><span>{{c.name}}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        {% if screenshots %}
        <div id="slides" class="grid_16">
            {% for s in screenshots %}
                <div>
                    <a href="{{s.image.url}}"><img src="{{s.image.url_940x528}}"></a>
                    <br/>
                    <span>{{s.caption}}</span>
                </div>
            {% endfor %}
        </div>
        {% endif %}


        <div class="clear"></div>

        <div id="footer" class="grid_16">
            <p><center>&#169;2012 Space Goats Coast to Coast </center></p>
        </div>

    </div> <!-- container -->
</body>
</html>
