{% load random_tag %}
<!DOCTYPE html>
<html>
<head>
    <title>Space Goats CoastToCoast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/text.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/960.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}site.css" />

    <!-- <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar.css' /> -->
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}jquery-ui-1.8.22.custom/css/redmond/jquery-ui-1.8.22.custom.css' />

    <script type='text/javascript' src='{{STATIC_URL}}jquery.js'></script>
    <!-- <script type='text/javascript' src='{{STATIC_URL}}fullcalendar.js'></script> -->
    <script type='text/javascript' src='{{STATIC_URL}}jquery-ui-1.8.22.custom/js/jquery-ui-1.8.22.custom.min.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}roster.js'></script>
    
    <script type='text/javascript'>
        function showPos(event,id) {
            var new_event_pop_up, x, y;

            new_event_pop_up = document.getElementById(id);
            if (window.event) {
                x = window.event.clientX + document.documentElement.scrollLeft
                    + document.body.scrollLeft;
                y = window.event.clientY + document.documentElement.scrollTop +
                    + document.body.scrollTop;
            }
            else {
                x = event.clientX + window.scrollX;
                y = event.clientY + window.scrollY;
            }

            new_event_pop_up.style.left = x + "px";
            new_event_pop_up.style.top = y + "px";
            new_event_pop_up.style.display = "block";
            //based on "Making a popup window using a DIV (hide DIV on mouseover)"
            //at http://web.cortland.edu/flteach/mm-course/glossPopupDiv.html 
        }
    </script>


</head>

<body>
    <div id="banner" style="background-image:url('{{STATIC_URL}}headers/header{{"1 16"|random_header}}.jpg');width:100%;height:250px;"></div>
    <div id="container" class="container_16">
        <div id="logo" class="grid_4">
            <a href="{% url "home" %}">
                <img src="{{STATIC_URL}}logo.png" style="width:200px;"
                 alt="Space Goats CoastToCoast Logo"/>
            </a>
        </div>
        <div id="nav" class="grid_12">
            <ul>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "chat" %}">Chat</a></li>
                {% if user.is_authenticated %}
                <li><a href='{% url "logout" %}'>Logout</a></li>
                <li><a href="{% url "profile" %}">{{user}}</a></li>
                <li><a href="{% url "new_article" %}">Submit Article</a></li>
                {% else %}
                <li><a href='{% url "login" %}'>Login</a></li>
                <li><a href='{% url "register" %}'>Register</a></li>
                {% endif %}
                <li><a href='http://ffxiv.spacegoatsc2c.com'>FFXIV</a></li>
                
            </ul>
        </div>
        <div class="clear"></div>

        <div id="articles" class="grid_11">
            {% block articles%}{%endblock%}
            
        </div>
        <div id="sidebar" class="grid_5">
            <div id="events">
                <h2>Events</h2>
                {% if upcoming_events %} 
                    <!-- Timer from http://www.hashemian.com/tools/javascript-countdown.htm-->
                    <p><b>{{upcoming_events.0.name}}</b> starts in </br>

                        <script language="JavaScript">
                        TargetDate = "{{upcoming_events.0.begin|date:'m/d/Y h:i A'}}"
                        BackColor = "#D1C2B2";
                        ForeColor = "navy";
                        CountActive = true;
                        CountStepper = -1;
                        LeadingZero = true;
                        DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
                        FinishMessage = "GET LOGGED IN NOW!</b>";
                        </script>
                        <script language="JavaScript" src="{{STATIC_URL}}countdown.js"></script>

                        (begins on {{upcoming_events.0.begin|date:"D d M, h:i A" }})
                        </br>&nbsp &nbsp &nbsp &nbsp
                        
                        {% if user.is_authenticated %}
                            {%if upcoming_events.0.id in im_attending%}
                                <a href='{% url "events" upcoming_events.0.id %}'>People are Missing</a>
                            {%else%}
                                <a href='{% url "events" upcoming_events.0.id %}'>Sign up to miss {{upcoming_events.0.name}}</a>
                            {%endif%}
                        {%else%}
                            <a href='{% url "events" upcoming_events.0.id %}'>View {{upcoming_events.0.name}}</a>
                        {%endif%}
                    </p>

                    
                    <table  >
                        {%for e in upcoming_events|slice:"1:"%} 
                        <tr><td id="upcoming_table_event_name"><a href='{% url "events" e.id %}'>{{e.name}}</a></td>
                            <td>
                            {% if user.is_authenticated %}
                                {%if e.id in im_attending%}<img src="{{STATIC_URL}}not_attending.png" alt="not attending"/>
                                {%else%}<img src="{{STATIC_URL}}attending.png" alt="attending"/>
                                {%endif%}
                            {%endif%}
                            </td>
                        </tr>
                        {%endfor%} 
                    </table>
                {%else%}
                    <p>No events are currently scheduled</p>
                {% endif%}
            </div>
            <div id="raid_progress">
                <h2>{{raid.name}} Progress</h2>
                {% for b in bosses %}
                {% if b.killed %}
                <a href="{% url "article" b.article.id %}">
                    <img src="{{b.picture.url_128x128}}" class="{{b.d_class}}" Title="{{b.name}}">
                </a>
                {% else %}
                    <img src="{{b.picture.url_128x128}}" Title="{{b.name}}">
                {% endif %}
                {% endfor %}
            </div>

            <div id="roster">
                <h2>Roster</h2>
                <table>
                    <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th>ilvl</th>
                        <th>alts?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in players %}
                        <tr class="{{p.name}} main">
                            <td>
                                <a href="http://us.battle.net/wow/en/character/{{p.server}}/{{p.name}}/advanced"><span class="{{p.class}} gclass">{{p.name}}</span></a></td>
                            <td>{{p.ilvl}}</td>
                            {% if p.alts %}
                            <td class="{{p.name}} toggle">
                               <span class="{{p.name}} toggleplus">+</span>
                               <span class="{{p.name}} toggleminus">-</span>
                            </td>
                            {% endif %}
                        </tr>
                        {% for a in p.alts %}
                            <tr class="{{p.name}} alt">
                                <td>
                                    <a href="http://us.battle.net/wow/en/character/{{a.server}}/{{a.name}}/advanced"><span class="{{a.class}} gclass">&nbsp;&nbsp;{{a.name}}</span></a></td>
                                <td>{{a.ilvl}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
                </table>
            </div>

            <div id="goat_of_the_week">
                <h2>Glorious Goat Leader</h2>
                <b><a href = "{% url "gow" gow.id %}"> {{gow.name}}</a></b>
                <br/>
                <img src="{{gow.img.url_128x128}}"/>
                <p>
                <a href = "{% url "gow" gow.id %}"> View Full </a>
                </p>
            </div>
        </div>


        <div class="clear"></div>

        <div id="footer" class="grid_16">
            <p><center>&#169;2012 Space Goats Coast to Coast </center></p>
        </div>

    </div> <!-- container -->
</body>
</html>
